---
import CounterReact from "../components/Counter";
import CounterVue from "../components/Counter.vue";
---

<html lang="en">
  <body>
    <h1>Hello from Astro mixing React + Vue!</h1>
    <CounterReact client:load />
    <CounterVue client:load />
  </body>
</html>
